anyio
argon2-cffi
attrs
Babel
backcall
bleach
certifi
cffi
charset-normalizer
cycler
debugpy
decorator
defusedxml
entrypoints
idna
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
requests-unixsocket
scipy
Send2Trash
six
sniffio
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
